/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#answer {
	margin-top: 800px;
	font-size: 15px;
}

#answer-bottom {
	margin-top: 300px;
	font-size: 15px;
}

.edit-btn {
	margin-bottom: 30px;
}

.underline {
  text-decoration: underline;
}